.c-user-item {
  width: 92px;
  height: 116px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img {
  border-radius: 50%;
  left: 6.52%;
  right: 6.52%;
  top: 5.17%;
  bottom: 25.86%;
}

.username {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  margin-top: 10px;
}